.scroll-section{
height:300vh;
display: flex;
flex-direction: column;
}
.headline{
  color:black;
  background-color: coral;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-top:37px;
  padding-bottom: 37px;
  padding-left: 10px;
  padding-right: 250px;
  opacity:0;
  font-size:100px;
  margin:10px;
}
.sticky-container{
  position:sticky;
    top:0;
    height:100vh;
    display: flex;
    flex-direction:column;
    align-items: center;
} 
#car{
  width: 350px;
  /* margin-top: auto; */
  position: relative;
  
  left: -120vh;
  top:-35vh;
  padding: 0px;
  
}
.stats{
  display: flex;
  flex-direction: row;
}
.stat-item{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  opacity:0;
  padding: 3vh;
  border:solid grey 2vh;
  margin: 10vh;
}
.item2{
position:relative;
top: -33vh;
}
