.scroll-section{
height:300vh;
display: flex;
flex-direction: column;
}
.headline{
  color:black;
  background-color: coral;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 46px;
  padding-left: 400px;
  padding-right: 400px;
  border-left:0px;
  margin-left: 0px;
  opacity:0;
  font-size:xx-large;
  position:relative;
  bottom:-242px;align-self: center;

}
.sticky-container{
  position:sticky;
    top:0;
    height:100vh;
    display: flex;
    flex-direction:column;
    align-items: center;
} 
#car{
  width: 350px;
  margin-top: auto;
  position:relative;
  left:-115vh;
  padding:20px;
  
}
.stat-item{
  margin: 70px;
  border: 1px solid;
  padding: 20px;
  opacity:0;
}
